body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    /* ??? */
}

.button{
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding: 0.75em 1em;
    color: rgb(223, 155, 242);
    border: 0.15em solid rgb(233, 158, 243);
    border-radius: 2em;
    transition: 4s;
}
/* bule */
.button::before,
.button::after{
    content: '';
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    /* ??? */
    border: none;
    border-radius: 40%;
    background-color: rgba(243, 130, 192, 0.827);
    transition: 4s;
}
/* rgb(0,0,255,0.25 */
.button::before{
    left: -80%;
    transform: translate3d(0,5em,0)rotate(-340deg);
}
.button::after{
    right: -80%;
    transform: translate3d(0,5em,0)rotate(390deg);
}

.button:hover,
.button:focus{
    color: white;
}

.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after{
    transform: none;
    background-color: rgba(243, 130, 192, 0.827);
}
/* rgb(0, 0, 255, 0.75) */